*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; /* default 16px -> now 10px; better for user changes */
}

body {
    box-sizing: border-box;
}